# TODO: split config/data folders, consider putting data folders in volumes
bazarr/*
caddy/*
!caddy/Caddyfile
cloudflared/*
!cloudflared/config.yml
homepage/logs/*
jellyfin/.aspnet/*
jellyfin/.cache/*
jellyfin/cache/*
jellyfin/data/*
jellyfin/log/*
mosura/*
n8n/data/*
pihole/*
prowlarr/*
!prowlarr/config.xml
qbittorrent/cache/*
qbittorrent/config/qBittorrent-data.conf
qbittorrent/config/lockfile
qbittorrent/config/rss/storage.lock
qbittorrent/data/*
radarr/*
!radarr/config.xml
secrets/*
sonarr/*
!sonarr/config.xml
syncthing/*
