{
    order authenticate before respond
    order authorize before basicauth

    admin :2019

    security {
        oauth identity provider google {
            realm google
            driver google
            client_id {env.GOOGLE_CLIENT_ID}
            client_secret {env.GOOGLE_CLIENT_SECRET}
            scopes openid email profile
        }

        authentication portal myportal {
            enable identity provider google
            cookie domain thekev.in

            ui {
                links {
                    "My Identity" /whoami icon "las la-user"
                }
            }

            transform user {
                suffix match email @thekev.in
                action add role thekev/admin
            }
            transform user {
                exact match email kevin.j.carruthers@gmail.com
                action add role thekev/admin
            }

            transform user {
                suffix match email @dialpad.com
                action add role mosura/user
            }
        }

        authorization policy mosura {
            set auth url https://auth.thekev.in/
            inject headers with claims

            acl rule {
                comment allow mosura users
                match roles mosura/user
                allow stop log warn
            }

            acl rule {
                comment default deny
                match any
                deny log warn
            }
        }

        authorization policy meonly {
            set auth url https://auth.thekev.in/
            inject headers with claims

            acl rule {
                comment allow thekev admins
                match roles thekev/admin
                allow stop log warn
            }

            acl rule {
                comment default deny
                match any
                deny log warn
            }
        }
    }
}

http://auth.thekev.in {
    authenticate with myportal
}

http://bazarr.thekev.in {
    authorize with meonly
    reverse_proxy bazarr:6767
}

http://fava.thekev.in {
    authorize with meonly
    reverse_proxy fava:5000
}

http://grafana.thekev.in {
    authorize with meonly
    reverse_proxy grafana:3000
}

http://home.thekev.in {
    reverse_proxy homepage:3000
}

http://mosura.thekev.in {
    authorize with mosura
    reverse_proxy mosura:8080
}

http://n8n.thekev.in {
    authorize with meonly
    reverse_proxy n8n:5678
}

http://prometheus.thekev.in {
    authorize with meonly
    reverse_proxy prometheus:9090
}

http://prowlarr.thekev.in {
    authorize with meonly
    reverse_proxy prowlarr:9696
}

http://qbittorrent.thekev.in {
    authorize with meonly
    reverse_proxy qbittorrent:8080
}

http://radarr.thekev.in {
    authorize with meonly
    reverse_proxy radarr:7878
}

http://sonarr.thekev.in {
    authorize with meonly
    reverse_proxy sonarr:8989
}
