---
- Information:
    - Website:
        href: https://thekev.in/
        description: Website
        icon: mdi-post-outline
    - Mosura:
        href: https://mosura.thekev.in/
        description: Task Management Frontend
        icon: mdi-jira
        server: local
        container: mosura
    - Fava:
        href: https://fava.thekev.in/
        description: Beancount Web View
        icon: mdi-finance
        server: local
        container: fava

- Media:
    - Jellyfin:
        href: http://192.168.1.75:8096/
        description: Media Server
        icon: jellyfin
        server: local
        container: jellyfin
    - Radarr:
        href: https://radarr.thekev.in/
        description: Movie Collection Manager
        icon: radarr
        server: local
        container: radarr
        widget:
          type: radarr
          url: http://192.168.1.75:7878
          key: "{{HOMEPAGE_VAR_RADARR_KEY}}"
          enableQueue: false
    - Sonarr:
        href: https://sonarr.thekev.in/
        description: TV Show Collection Manager
        icon: sonarr
        server: local
        container: sonarr
        widget:
          type: sonarr
          url: http://192.168.1.75:8989
          key: "{{HOMEPAGE_VAR_SONARR_KEY}}"
          enableQueue: false
    - Bazarr:
        href: https://bazarr.thekev.in/
        description: Subtitle Manager
        icon: bazarr
        container: bazarr
        widget:
          type: bazarr
          url: http://192.168.1.75:6767
          key: "{{HOMEPAGE_VAR_BAZARR_KEY}}"

- Torrents:
    - qBittorrent:
        href: https://qbittorrent.thekev.in/
        description: Torrent Client
        icon: qbittorrent
        server: local
        container: qbittorrent
        widget:
          type: qbittorrent
          url: http://192.168.1.75:8089
          username: "{{HOMEPAGE_VAR_QBITTORRENT_USER}}"
          password: "{{HOMEPAGE_VAR_QBITTORRENT_PASS}}"
          enableLeechProgress: false
    - Prowlarr:
        href: https://prowlarr.thekev.in/
        description: Indexer Manager
        icon: prowlarr
        server: local
        container: prowlarr
        widget:
          type: prowlarr
          url: http://192.168.1.75:9696
          key: "{{HOMEPAGE_VAR_PROWLARR_KEY}}"
    - Unpackerr:
        description: Archive Auto-Extraction
        icon: mdi-archive-sync
        server: local
        container: unpackerr

- Monitoring:
    - Homepage:
        href: https://home.thekev.in/
        description: Homepage
        icon: mdi-home-circle
        server: local
        container: homepage
    - Grafana:
        href: https://grafana.thekev.in/
        description: Data Visualization Platform
        icon: grafana
        server: local
        container: grafana
        # TODO: how enable widget with proxy auth?
    - Prometheus:
        href: https://prometheus.thekev.in/
        description: Monitoring TSDB
        icon: prometheus
        server: local
        container: prometheus
        widget:
          type: prometheus
          url: http://192.168.1.75:9090
    - Node Exporter:
        description: Monitoring Agent for Node Stats
        icon: mdi-memory
        server: local
        container: node-exporter
    - ATC1441 Exporter:
        description: Monitoring Agent for ATC1441 Sensors
        icon: mdi-thermometer
        server: local
        container: atc1441-exporter

- Networking:
    - Pi-Hole:
        href: http://192.168.1.75:8888/admin/
        description: Pi-Hole Admin Portal
        icon: pi-hole
        server: local
        container: pihole
        widget:
          type: pihole
          url: http://192.168.1.75:8888
          version: 6
          key: "{{HOMEPAGE_VAR_PIHOLE_KEY}}"
    - Router:
        href: http://192.168.1.1/
        description: Router Admin Portal
        icon: router
    - Cloudflared:
        description: DNS Tunnel
        icon: cloudflare-zero-trust
        server: local
        container: cloudflared
        widget:
          type: cloudflared
          accountid: "{{HOMEPAGE_VAR_CLOUDFLARE_ACCOUNT}}"
          tunnelid: "{{HOMEPAGE_VAR_CLOUDFLARE_TUNNEL}}"
          key: "{{HOMEPAGE_VAR_CLOUDFLARE_KEY}}"

- Services:
    - N8N:
        href: https://n8n.thekev.in
        description: Workflow Automation
        icon: n8n
        server: local
        container: n8n
    - Caddy:
        href: https://auth.thekev.in/
        description: Secure Reverse Proxy
        icon: caddy
        server: local
        container: caddy
        widget:
          type: caddy
          url: http://192.168.1.75:2019
    - Syncthing:
        href: http://192.168.1.75:8384/
        description: Syncthing
        icon: syncthing
        server: local
        container: syncthing
